body {
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 18pt;
}

head {
    background-color: black;
    color: white;
    font-family: monospace;
}

h1 {
    font-size: 32pt;
    font-weight: bold;
    text-align: center;
}

p {
    text-align: justify;
}

.logo {
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

.box {
    border: 5px; 
    border-style: solid;
    border-color: white;
    height: fit-content;
    margin-left: 2%;
    margin-right: 2%;
    padding: 1%;
    text-align: justify;
}

.div_video_embed {
    width: 560px;
    height: 315px;
    display: block;
    margin: auto;
}

.video_embed {
    width: 560px;
    height: 315px;
    display: block;
    position: relative;
    align-items: center;
    border: 5px;
    border-style: solid;
    border-color: white;
}

.contain_stmenu {
    display: block;
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: gray;
    border-style: solid;
    border-color: white;
    border: 5px;
}

.site_menu {
    display: block;
    position: relative;
}

ul li {
    display: inline-block;
}

.lxdain_logo {
    height: 100px;
    width: 100px;
    display: inline-block;
    align-items: center;
}



